.calendar-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.calendar-view-stepper-control-left-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.calendar-view-stepper-control {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
}

.calendar-view-stepper-control > button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 !important;
    border: none !important;
    height: 100%;
    margin-top: -30px; /* for some reason this is here because putting the separator div messes up the alignment*/
}

.calendar-view-current-week {
    display: inline-block;
    transform: translateY(-50%);
    margin-left: 20px;
    color: #393a6d;
}

.calendar-view-stepper-control-separator {
    width: 1px;
    height: 100%;
    background-color: lightgray;
    display: inline-block;
}

.calendar-view-header-weekday {
    padding-top: 10px;
    text-align: center;
    color: lightgray;
}

.calendar-view-header-current-weekday {
    color: #6a53e4;
}

.calendar-view-calendar {
    flex-grow: 1;
    position: relative;
}

.calendar-view-calendar-days {
    border-right: 1px solid lightgray;
    text-align: center;
}

.calendar-view-header {
    padding-left: 90px; /* 100 - 10 */
}

.calendar-view-calendar-times {
    border-right: 1px solid lightgray;
    padding-right: 15px;
    text-align: right;
    width: 100px;
    display: table;
}

.calendar-view-calendar-time > span {
    position: relative;
    top: -11px;
    color: lightgray;
    font-size: small;
}

.calendar-view-horizontal-separators {
    border-top: 1px solid lightgray;
}

.calendar-view-horizontal-separator::after {
    content: '';
    border-bottom: 1px solid lightgray;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 3;
    pointer-events: none;
}

.calendar-view-calendar-meeting {
    position: absolute;
    z-index: 3; /* make it above the separators */
    border-radius: 5px;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.calendar-view-calendar-meeting > p {
    font-size: small;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.calendar-view-calendar-meeting-name {
    color: white;
}

.calendar-view-calendar-meeting-time {
    color: rgba(255, 255, 255, 0.6);
}