.calendar-view-stepper-control-left-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.calendar-view-stepper-control {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
}

.calendar-view-stepper-control > button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 !important;
    border: none !important;
    height: 100%;
    margin-top: -30px; /* for some reason this is here because putting the separator div messes up the alignment*/
}

.calendar-view-current-week {
    display: inline-block;
    transform: translateY(-50%);
    margin-left: 20px;
    color: #393a6d;
}

.calendar-view-stepper-control-separator {
    width: 1px;
    height: 100%;
    background-color: lightgray;
    display: inline-block;
}

.calendar-view-header-weekday {
    text-align: center;
    color: lightgray;
}

.calendar-view-header-current-weekday {
    color: #6a53e4;
}

.calendar-view-calendar {
    overflow: scroll;
}