.toolbar {
    background-color: #6a53e4;
    height: 100%;
    width: 50px;
}

.toolbar-items-section {
    position: absolute;
    top: 30%;
}

.toolbar-item-img {
    margin-left: 7px;
    height: 40px; /* make same height as active indicator to avoid jumping around */
    width: 40px; /* make all images the same width */
    object-fit: none; /* but don't adjust the image size/aspect ratio just the frame size */
}

.toolbar-active-indicator {
    margin-right: -4px; /* counter the width of the indicator */
}

.toolbar-item {
    margin-bottom: 100px;
}

.splitview-detail-column {
    border-left: 1px solid rgba(211, 211, 211, 0.5);
    height: 100%;
}
